.planning/phases/04-n8n-workflow-migration/vss-carousel-supabase-workflow.json
{
  "name": "VSS Carousel Creator (Supabase) — v3",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', carousel_id: $('Webhook').first().json.body.carousel_id, message: 'Carousel generation started' } }}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2512,
        368
      ],
      "id": "e8ad2df0-2ed3-4a00-8844-e271da1783b2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "inp-01",
              "name": "Brand Voice",
              "value": "={{ $json.body.voice_guidelines }}",
              "type": "string"
            },
            {
              "id": "inp-02",
              "name": "Product",
              "value": "={{ $json.body.product_description }} | Audience: {{ $json.body.audience_description }}",
              "type": "string"
            },
            {
              "id": "inp-03",
              "name": "Brand Name",
              "value": "={{ $json.body.brand_name }}",
              "type": "string"
            },
            {
              "id": "inp-04",
              "name": "Brand Color",
              "value": "={{ $json.body.brand_color }}",
              "type": "string"
            },
            {
              "id": "inp-05",
              "name": "CTA Text",
              "value": "={{ $json.body.cta_text }}",
              "type": "string"
            },
            {
              "id": "inp-06",
              "name": "Style Name",
              "value": "={{ $json.body.image_style_id }}",
              "type": "string"
            },
            {
              "id": "inp-07",
              "name": "Design Style",
              "value": "={{ $json.body.design_style }}",
              "type": "string"
            },
            {
              "id": "inp-08",
              "name": "Idea",
              "value": "={{ $json.body.idea_text }}",
              "type": "string"
            },
            {
              "id": "inp-09",
              "name": "Custom Instructions",
              "value": "={{ $json.body.custom_instructions }}",
              "type": "string"
            },
            {
              "id": "f49fa380-5d41-4d64-9889-85ec3ce427a2",
              "name": "template",
              "value": "={{ $json.body.template_id }}",
              "type": "string"
            },
            {
              "id": "7295a6c5-7b8b-49cf-8164-93ca5d90cb28",
              "name": "audience",
              "value": "={{ $json.body.audience_description }}",
              "type": "string"
            },
            {
              "id": "b962855b-4a1c-4fb0-b177-9d2a1d0ed284",
              "name": "style",
              "value": "={{ $json.body.style_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        368
      ],
      "id": "7eaf8466-4fab-4185-9867-4ac7894ca72e",
      "name": "Standardize Inputs"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_PROJECT_REF.supabase.co/rest/v1/carousels?id=eq.{{ $('Webhook').first().json.body.carousel_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ status: 'processing', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        368
      ],
      "id": "8088ad5e-8d56-467d-9fde-232ba1a35f2d",
      "name": "Set Processing Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4wAFnVPwpyyeSCk6",
          "name": "Supabase add"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Inputs\n\n**Idea:** `{{ $('Standardize Inputs').item.json.Idea }}`\n\n**Brand Details:**\n- Brand Name: `{{ $('Standardize Inputs').item.json['Brand Name'] }}`\n- Brand Color: `{{ $('Standardize Inputs').item.json['Brand Color'] }}`\n- Brand Voice: `{{ $('Standardize Inputs').item.json['Brand Voice'] }}`\n- Product & Audience: ``{{ $('Standardize Inputs').item.json.audience }}\n- CTA Text: `{{ $('Standardize Inputs').item.json['CTA Text'] }}`\n- Custom Instructions: `{{ $('Standardize Inputs').item.json['Custom Instructions'] }}`\n\n**Visual Style:**\n- Style Name: `{{ $('Standardize Inputs').item.json['Style Name'] }}`\n- Design Style: `{{ $('Standardize Inputs').item.json['Design Style'] }}`\n\nGenerate exactly **1** variation.",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Role\nYou are an expert **LinkedIn Content Strategist** and **Visual Prompt Engineer**. You transform ideas and brand details into high-performing LinkedIn Carousel Sequences — crafting both the written post caption and complete visual image generation prompts for each slide.\n\n# Visual Identity Rules\nALL slide image prompts must produce images that:\n* Use **Brand Color** (from inputs) as the primary background or accent color\n* Apply the **Design Style** (from inputs) for any illustrations\n* Use clean, modern sans-serif typography — bold for headings, regular for body text\n* Use white or near-white text on brand-colored/dark areas for contrast and readability\n\n# Output Requirements\nEach variation must contain:\n1. **Post Body** — the LinkedIn caption text\n2. **Carousel Sequence** — Front Cover prompt + 5-10 Content Slide prompts + CTA Slide prompt\n\n# Instructions\n\n1. **Analyze the Idea**\n    * Identify the single most valuable insight (the \"Golden Nugget\")\n    * Map the logical flow: Problem → Solution → Proof → Action\n\n2. **Apply Custom Instructions**\n    * Follow any Custom Instructions over the default approach\n\n3. **Write the Assets**\n\n    **A) Post Body**\n    * Hook: 1-2 lines that stop the scroll — bold statement, question, or striking statistic\n    * Body: Value-rich breakdown using bullet points and generous white space\n    * CTA: Conversational, low-friction call to action\n\n    **B) Carousel Sequence**\n    Generate self-contained image creation prompts. Each prompt must be a complete visual description — the image model has NO template, only your prompt. It will create each slide from scratch. Be specific about layout, colors, typography, and content.\n\n    **i. Front Cover Prompt**\n    Create a professional LinkedIn carousel cover slide image:\n    * Background: Brand Color as the full-bleed dominant color\n    * Headline: The carousel title — large, bold, white text, centered or left-aligned\n    * Subheading: A curiosity-inducing subtitle — smaller white text below the headline\n    * Brand Name displayed in the bottom corner or footer area in white\n    * Clean design — no scene illustrations on this slide\n\n    **ii. Content Slide Prompts (one per lesson step, 5-10 total)**\n    Create a LinkedIn carousel content slide image for each step:\n    * Background: Clean white or very light gray (#F8F8F8)\n    * Accent: A thin Brand Color horizontal bar at the top OR a Brand Color left-side stripe\n    * Title: Step title — large bold dark text at the top of the slide\n    * Body: 2-4 lines of educational text — smaller dark gray below the title\n    * Illustration: A relevant visual in the Design Style in the lower or right area. The illustration background blends with the slide background. Keep it sized so text and image coexist clearly.\n\n    **iii. CTA Slide Prompt**\n    Create a LinkedIn carousel CTA slide image:\n    * Background: Brand Color as the dominant full-bleed color\n    * CTA Text: Large bold white text — use CTA Text from inputs exactly; if empty use \"Drop your thoughts in the comments\"\n    * Keep it bold, simple, and action-focused\n\n4. **Quality Check Before Outputting**\n    * Are ALL prompts complete enough to generate a slide image with zero additional context?\n    * Does the Front Cover clearly describe headline + subheading + brand name on a brand-color background?\n    * Does each Content Slide describe title + body text + illustration + background?\n    * Does the CTA slide have bold, prominent action text on a brand-color background?\n    * Does the JSON strictly follow the output schema?\n\n# Output Schema\nOutput a JSON object containing exactly 1 variation.\n\n\nMANDATORY : always call \"OpẻnRouter Chat\" tool to work with"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3664,
        368
      ],
      "id": "8aabb16d-4315-4389-95bf-0b9f5fc6e14f",
      "name": "Body & Carousel Prompts",
      "retryOnFail": true,
      "maxTries": 2,
      "executeOnce": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {
          "maxOutputTokens": 64000,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3648,
        528
      ],
      "id": "bd379856-e143-407d-bb13-c7febe138440",
      "name": "Gemini-3-pro",
      "credentials": {
        "googlePalmApi": {
          "id": "JXpi4JCGvi7TiNuv",
          "name": "Google add card"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-5-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-5-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4096,
        768
      ],
      "id": "00dd5ac1-cbd6-47d0-906d-9228e3caf986",
      "name": "gpt-5-mini",
      "credentials": {
        "openAiApi": {
          "id": "3Lj2DKcCIFwhG8O6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"variations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"variation_number\": { \"type\": \"integer\" },\n          \"post_body\": {\n            \"type\": \"string\",\n            \"description\": \"The main caption text for the LinkedIn post.\"\n          },\n          \"carousel_front_page_prompt\": {\n            \"type\": \"string\",\n            \"description\": \"A complete image creation prompt for the cover slide.\"\n          },\n          \"carousel_content_slide_prompts\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" },\n            \"description\": \"Array of image creation prompts, one per content slide (5-10 items).\"\n          },\n          \"carousel_cta_page_prompt\": {\n            \"type\": \"string\",\n            \"description\": \"A complete image creation prompt for the CTA slide.\"\n          }\n        },\n        \"required\": [\n          \"variation_number\",\n          \"post_body\",\n          \"carousel_front_page_prompt\",\n          \"carousel_content_slide_prompts\",\n          \"carousel_cta_page_prompt\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"variations\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3904,
        528
      ],
      "id": "75644065-80c3-4bf1-a2f0-1be24644582b",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.variations[0].carousel_content_slide_prompts",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4288,
        368
      ],
      "id": "b83fe95e-09f5-4ae3-85db-2c560a32c1ea",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4496,
        192
      ],
      "id": "a3db2b99-305f-4872-b6df-8dd1593335ee",
      "name": "Limit1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-image-1', prompt: $json.output.variations[0].carousel_front_page_prompt, n: 1, size: '1024x1024' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4688,
        192
      ],
      "id": "71586e86-a062-47be-be4d-4e638b4455a6",
      "name": "Generate Front Slide",
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "openAiApi": {
          "id": "3Lj2DKcCIFwhG8O6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $json.data[0].b64_json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        192
      ],
      "id": "9981981d-04ab-4a56-a898-61f2ee2b71c5",
      "name": "Upload Front to ImgBB",
      "credentials": {
        "httpQueryAuth": {
          "id": "rVjLBTIvN7AxAOOx",
          "name": "Imagebb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tf-1",
              "name": "slide_type",
              "value": "front",
              "type": "string"
            },
            {
              "id": "tf-2",
              "name": "slide_order",
              "value": 0,
              "type": "number"
            },
            {
              "id": "tf-3",
              "name": "slide_url",
              "value": "={{ $json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5056,
        192
      ],
      "id": "bbcf564c-b5cb-4c5c-9059-543ea98b6258",
      "name": "Tag Front Slide"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-image-1', prompt: $json[\"output.variations[0].carousel_content_slide_prompts\"], n: 1, size: '1024x1024' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4496,
        368
      ],
      "id": "8cde505b-eb67-490d-ac8c-eb789ed6f79f",
      "name": "Generate Content Slide",
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "openAiApi": {
          "id": "3Lj2DKcCIFwhG8O6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $json.data[0].b64_json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4688,
        368
      ],
      "id": "df0a8b9c-3649-460c-bbaa-95d687bd2252",
      "name": "Upload Content to ImgBB",
      "credentials": {
        "httpQueryAuth": {
          "id": "rVjLBTIvN7AxAOOx",
          "name": "Imagebb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tc-1",
              "name": "slide_type",
              "value": "content",
              "type": "string"
            },
            {
              "id": "tc-2",
              "name": "slide_order",
              "value": "={{ $itemIndex + 1 }}",
              "type": "number"
            },
            {
              "id": "tc-3",
              "name": "slide_url",
              "value": "={{ $json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4864,
        368
      ],
      "id": "9a28b7d8-51eb-4d3f-93b8-a2ad366c6368",
      "name": "Tag Content Slide"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4496,
        528
      ],
      "id": "0aee61ef-a501-475d-bc37-0a4d4f2c52a4",
      "name": "Limit2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-image-1', prompt: $json.output.variations[0].carousel_cta_page_prompt, n: 1, size: '1024x1024' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4688,
        528
      ],
      "id": "4a81ab72-bf0b-4ed9-8587-54af2dec394f",
      "name": "Generate CTA Slide",
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "openAiApi": {
          "id": "3Lj2DKcCIFwhG8O6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $json.data[0].b64_json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        528
      ],
      "id": "3794e2cb-0e1b-44f7-9fb4-18714b5d6bb7",
      "name": "Upload CTA to ImgBB",
      "credentials": {
        "httpQueryAuth": {
          "id": "rVjLBTIvN7AxAOOx",
          "name": "Imagebb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tca-1",
              "name": "slide_type",
              "value": "cta",
              "type": "string"
            },
            {
              "id": "tca-2",
              "name": "slide_order",
              "value": 9999,
              "type": "number"
            },
            {
              "id": "tca-3",
              "name": "slide_url",
              "value": "={{ $json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5056,
        528
      ],
      "id": "a6e5a9f8-2498-40db-956f-bfe256956f2d",
      "name": "Tag CTA Slide"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5232,
        368
      ],
      "id": "9415f466-1c92-445d-8f57-33e22977bf9b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Collect all tagged slides and build an ordered URL array:\n// Front [0] → Content [1..N, sorted] → CTA [9999]\nconst allItems = $input.all();\n\nconst front = allItems.filter(i => i.json.slide_type === 'front');\nconst content = allItems\n  .filter(i => i.json.slide_type === 'content')\n  .sort((a, b) => (a.json.slide_order || 0) - (b.json.slide_order || 0));\nconst cta = allItems.filter(i => i.json.slide_type === 'cta');\n\nconst slideUrls = [\n  ...front.map(i => i.json.slide_url).filter(Boolean),\n  ...content.map(i => i.json.slide_url).filter(Boolean),\n  ...cta.map(i => i.json.slide_url).filter(Boolean),\n];\n\n// Get post_body from the LLM output (before image nodes replaced $json)\nlet postBody = '';\ntry {\n  postBody = $('Split Out').first().json.output.variations[0].post_body || '';\n} catch (e) {}\n\nreturn [{\n  json: {\n    carousel_id: $('Webhook').first().json.body.carousel_id,\n    post_body: postBody,\n    slide_urls: slideUrls,\n    slide_count: slideUrls.length,\n    success: slideUrls.length > 0,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        368
      ],
      "id": "00192eb2-4a9b-4076-87b0-58a6d2aa6f7b",
      "name": "Collect & Order Slides"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5600,
        368
      ],
      "id": "f2f8ceed-ec29-48a8-9dc2-68e54ce4e882",
      "name": "IF Success"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ihtowlmrgjhgwgnxgimy.supabase.co/rest/v1/carousels?id=eq.{{ $json.carousel_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlodG93bG1yZ2poZ3dnbnhnaW15Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4Nzc5NSwiZXhwIjoyMDgyNTYzNzk1fQ.DaW-L3ylfuR-HTQ1YffyezgiZg5MAQZNd_uOViAn8xY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ post_body: $json.post_body, status: 'completed', slide_urls: $json.slide_urls, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        208
      ],
      "id": "da87b8e5-cc32-478d-bde3-d0a6ce6ff0e2",
      "name": "Update Carousel — Completed",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4wAFnVPwpyyeSCk6",
          "name": "Supabase add"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ihtowlmrgjhgwgnxgimy.supabase.co/rest/v1/carousels?id=eq.{{ $json.carousel_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlodG93bG1yZ2poZ3dnbnhnaW15Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4Nzc5NSwiZXhwIjoyMDgyNTYzNzk1fQ.DaW-L3ylfuR-HTQ1YffyezgiZg5MAQZNd_uOViAn8xY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ status: 'failed', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5792,
        528
      ],
      "id": "fcc9c26c-0da3-47bd-95d2-dad39a54d979",
      "name": "Update Carousel — Failed",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4wAFnVPwpyyeSCk6",
          "name": "Supabase add"
        }
      }
    },
    {
      "parameters": {
        "content": "## Phase 2 — LLM Content Generation\nPrimary: Gemini 3 Pro\nFallback: Claude Opus 4.1\nJSON fixer: gpt-5-mini via OpenRouter\n\nOutputs: post_body + image prompts for front / content slides / CTA",
        "height": 608,
        "width": 576,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3616,
        160
      ],
      "id": "0b9826b0-4a1f-4900-ad35-e5ec3a190256",
      "name": "Note Phase 2"
    },
    {
      "parameters": {
        "content": "## Phase 3 — Image Generation (parallel)\n\nThree branches run from Split Out simultaneously:\n\n● Front (Limit1 → Generate → Upload → Tag [order=0])\n● Content x N (Generate → Upload → Tag [order=$itemIndex+1])\n● CTA (Limit2 → Generate → Upload → Tag [order=9999])\n\ngpt-image-1 creates each slide from scratch — no templates.\nTag nodes stamp type + order before merge.\nCollect & Order sorts: Front → Content → CTA.\n\n✓ → Update Supabase status=completed\n✗ → Update Supabase status=failed",
        "height": 608,
        "width": 1600,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4256,
        160
      ],
      "id": "c7236f39-74e4-4783-9d82-70e756291d30",
      "name": "Note Phase 3"
    },
    {
      "parameters": {
        "content": "## VSS Carousel Creator — Supabase v2\n\n## One-time Setup\n\n### 1. Supabase URL (3 nodes)\nReplace `YOUR_PROJECT_REF` in:\n- `Set Processing Status`\n- `Update Carousel — Completed`\n- `Update Carousel — Failed`\n\nFind it: Supabase Dashboard → Settings → API → Project URL\n\n### 2. Supabase Service Role Key credential\nCredentials → Add → Header Auth\n- Header Name: `apikey`\n- Value: your service_role JWT (starts with eyJ, ~200 chars)\n- Map to all 3 Supabase PATCH nodes above\n- DO NOT use the native Supabase node (403 bug — GitHub #17020)\n\n### 3. OpenAI API Key credential\nCredentials → Add → OpenAI\n- Map to: `Generate Front Slide`, `Generate Content Slide`, `Generate CTA Slide`\n- Required for gpt-image-1 image generation\n\n### 4. ImgBB API Key\nCredentials → Add → Query Auth\n- Parameter name: `key`\n- Value: your ImgBB API key\n- Map to: `Upload Front to ImgBB`, `Upload Content to ImgBB`, `Upload CTA to ImgBB`\n\n### 5. LLM credentials\n- Gemini (primary LLM): map to `Gemini-3-pro` node\n- Anthropic (fallback LLM): map to `Opus-4.1-thinking` node\n- OpenRouter (JSON fixer): map to `gpt-5-mini` node\n\n## Webhook Payload (from Phase 5 /api/generate)\ncarousel_id, idea_text, brand_name, brand_color,\nvoice_guidelines, product_description, audience_description,\ncta_text, style_name, design_style, custom_instructions\n\n## What this workflow does\n1. Responds 202 immediately (caller never waits)\n2. Updates Supabase status → processing\n3. LLM generates post body + image prompts for all slides\n4. gpt-image-1 generates each slide from scratch (no templates needed)\n5. Uploads each slide to ImgBB for permanent hosting\n6. Orders slides: Front → Content (1..N) → CTA\n7. Updates Supabase → completed (with slide_urls + post_body) or failed",
        "height": 620,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        -336
      ],
      "id": "c5e02ddd-87f6-4bb6-b4b1-d9cb012f739d",
      "name": "Setup Instructions1"
    },
    {
      "parameters": {
        "content": "## Phase 1 — Receive & Acknowledge\nResponds 202 immediately → UI never hangs\nSets status=processing in Supabase right away",
        "height": 200,
        "width": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        176
      ],
      "id": "75e3fc7d-12cf-4d41-955a-f0533aeb61be",
      "name": "Note Phase "
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3760,
        752
      ],
      "id": "9266c25e-0211-48c7-9a1c-60f2148364ce",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Jl4QJ3Pl3fjfGaPt",
          "name": "add"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-carousel",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2320,
        368
      ],
      "id": "7f547031-d55b-4f96-9b5e-463d0546c8b9",
      "name": "Webhook",
      "webhookId": "601ee2d2-2ac6-48c1-8d49-8bd94875aeb4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ovobvc.ezn8n.com",
            "x-real-ip": "103.176.152.8",
            "x-forwarded-for": "103.176.152.8",
            "x-forwarded-proto": "https",
            "connection": "Upgrade",
            "content-length": "856",
            "user-agent": "curl/8.18.0",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "carousel_id": "00000000-0000-0000-0000-000000000001",
            "user_id": "348c44b3-35aa-4b78-a0b6-26ca618e4366",
            "brand_id": "32d1638c-3205-4999-86ef-88d44258d8a2",
            "template_id": "32ad63e0-b062-4bce-922a-2f1ce31b559c",
            "image_style_id": "7ed39792-f5bf-41a5-9742-a850f698f86f",
            "idea_text": "Test carousel idea for migration smoke test",
            "brand_name": "AI.Metta.News",
            "brand_color": "#000000",
            "voice_guidelines": "friendly",
            "product_description": "test product",
            "audience_description": "creators",
            "cta_text": "follow for more",
            "style_name": "Comic Strip",
            "design_style": "Minimal",
            "custom_instructions": "",
            "template_front_url": "https://i.ibb.co/8LFpnykG/1.png",
            "template_content_url": "https://i.ibb.co/nNsqWTcw/2.png",
            "template_cta_url": "https://i.ibb.co/TDds4HMv/4.png"
          },
          "webhookUrl": "https://ovobvc.ezn8n.com/webhook-test/create-carousel",
          "executionMode": "test"
        }
      }
    ],
    "Respond to Webhook": [
      {
        "json": {
          "headers": {
            "host": "ovobvc.ezn8n.com",
            "x-real-ip": "103.176.152.8",
            "x-forwarded-for": "103.176.152.8",
            "x-forwarded-proto": "https",
            "connection": "Upgrade",
            "content-length": "856",
            "user-agent": "curl/8.18.0",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "carousel_id": "00000000-0000-0000-0000-000000000001",
            "user_id": "348c44b3-35aa-4b78-a0b6-26ca618e4366",
            "brand_id": "32d1638c-3205-4999-86ef-88d44258d8a2",
            "template_id": "32ad63e0-b062-4bce-922a-2f1ce31b559c",
            "image_style_id": "7ed39792-f5bf-41a5-9742-a850f698f86f",
            "idea_text": "Test carousel idea for migration smoke test",
            "brand_name": "AI.Metta.News",
            "brand_color": "#000000",
            "voice_guidelines": "friendly",
            "product_description": "test product",
            "audience_description": "creators",
            "cta_text": "follow for more",
            "style_name": "Comic Strip",
            "design_style": "Minimal",
            "custom_instructions": "",
            "template_front_url": "https://i.ibb.co/8LFpnykG/1.png",
            "template_content_url": "https://i.ibb.co/nNsqWTcw/2.png",
            "template_cta_url": "https://i.ibb.co/TDds4HMv/4.png"
          },
          "webhookUrl": "https://ovobvc.ezn8n.com/webhook-test/create-carousel",
          "executionMode": "test"
        }
      }
    ],
    "Standardize Inputs": [
      {
        "json": {
          "Brand Voice": "friendly",
          "Product": "test product | Audience: creators",
          "Brand Name": "AI.Metta.News",
          "Brand Color": "#000000",
          "CTA Text": "follow for more",
          "Style Name": "7ed39792-f5bf-41a5-9742-a850f698f86f",
          "Design Style": "Minimal",
          "Idea": "Test carousel idea for migration smoke test",
          "Custom Instructions": "",
          "template": "32ad63e0-b062-4bce-922a-2f1ce31b559c",
          "audience": "creators",
          "style": "Comic Strip"
        }
      }
    ],
    "Set Processing Status": [
      {
        "json": {
          "error": {
            "code": "ERR_INVALID_HTTP_TOKEN"
          }
        }
      }
    ]
  },
  "connections": {
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Standardize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Inputs": {
      "main": [
        [
          {
            "node": "Set Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Processing Status": {
      "main": [
        [
          {
            "node": "Body & Carousel Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body & Carousel Prompts": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate Content Slide",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Generate Front Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Generate CTA Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Front Slide": {
      "main": [
        [
          {
            "node": "Upload Front to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Front to ImgBB": {
      "main": [
        [
          {
            "node": "Tag Front Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Front Slide": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content Slide": {
      "main": [
        [
          {
            "node": "Upload Content to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Content to ImgBB": {
      "main": [
        [
          {
            "node": "Tag Content Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Content Slide": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate CTA Slide": {
      "main": [
        [
          {
            "node": "Upload CTA to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CTA to ImgBB": {
      "main": [
        [
          {
            "node": "Tag CTA Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag CTA Slide": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Collect & Order Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect & Order Slides": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Update Carousel — Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Carousel — Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini-3-pro": {
      "ai_languageModel": [
        [
          {
            "node": "Body & Carousel Prompts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-5-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Body & Carousel Prompts",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Body & Carousel Prompts",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5279c06-322c-4120-b071-85bbbc872855",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  },
  "id": "GApYV6kUxcKY5ayq",
  "tags": []
}